In [1]:
#importing pandas

import pandas

In [2]:
# parameters

Revenue_Growth_Factor = 0.18
EBITDA_Margin = 0.45
Taxes = 0.21
Capital_Expenditures = 0.03
working_Capital_Increase = 0.06
EPITDA_Exit_Multiple = 32.70
Discount_Factor = 0.94

In [3]:
# showing the data frame for the dates

dates = pandas.date_range(start = '2022', end = '2031', freq = 'Y')
dates

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [4]:
# Revenue growth first year

df = pandas.DataFrame(index=dates)
df.loc['2022-12-31', "Revenue"] = 222 * (1 + Revenue_Growth_Factor)
df

            Revenue
2022-12-31   261.96
2023-12-31      NaN
2024-12-31      NaN
2025-12-31      NaN
2026-12-31      NaN
2027-12-31      NaN
2028-12-31      NaN
2029-12-31      NaN
2030-12-31      NaN

In [5]:
# Revenue growth throw all years

for i in range (1, len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i-1]["Revenue"] * (1 + 0.18)
df

               Revenue
2022-12-31  261.960000
2023-12-31  309.112800
2024-12-31  364.753104
2025-12-31  430.408663
2026-12-31  507.882222
2027-12-31  599.301022
2028-12-31  707.175206
2029-12-31  834.466743
2030-12-31  984.670757

In [6]:
df['EBITDA'] = df['Revenue']*EBITDA_Margin
df["Taxes"] = df ["EBITDA"] * -Taxes
df["Capital Expenditure"] = -df ["Revenue"] * Capital_Expenditures
df["Working Capital"] = -df["Revenue"] * working_Capital_Increase
df["Cash Flow"] = df.drop(columns="Revenue").sum(axis=1)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086

In [7]:
df["Discount Factor"] = Discount_Factor
df["Discount Factor"] = df["Discount Factor"].cumprod()
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995

In [8]:
df["present_value_for_cash_flow"]= df["Discount Factor"] * df["Cash Flow"]
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,present_value_for_cash_flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000,65.377357
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749,89.218916
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904,98.961622
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569,135.050559
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.798080

In [9]:
present_value = df['present_value_for_cash_flow'].sum().round()
present_value

923.0

In [13]:
terminal_frame = pandas.DataFrame(index=['2032'])
Rev=terminal_frame['Revenue'] = df['Revenue'].iloc[-1] * Revenue_Growth_Factor
EB=terminal_frame['EBITDA'] =terminal_frame['Revenue'] * EBITDA_Margin

Rev= terminal_frame['Revenue'].round()
EB = terminal_frame[['EBITDA']].round()

In [14]:
terminal_frame['terminal'] = terminal_frame['EBITDA'] * EPITDA_Exit_Multiple + present_value
Ter_val=terminal_frame['terminal'].round()

In [16]:
print(f"""
Our projected Present Value of Projected Future Cash Flows are:${present_value.sum().round(0)}.
We are providing revenue guidance in 2030 to be: ${Rev.values.round()}.
With an estimated EBITDA around: {EB.values}.
The terminal value a this time given a multiple of {EPITDA_Exit_Multiple} and the above EBITDA for 2030, would equal:{Ter_val.values.round()}""")

Our projected Present Value of Projected Future Cash Flows are:$923.0.
We are providing revenue guidance in 2030 to be: $[177.].
With an estimated EBITDA around: [[80.]].
The terminal value a this time given a multiple of 32.7 and the above EBITDA for 2030, would equal:[3531.]